apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: pvc-name
spec:
  storageClassName: manual
  volumeMode: Filesystem
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 10Gi

  #inside pod:
#  apiVersion: v1
#  kind: pod
#  metadata:
#    name: mypod
#  spec:
#    containers:
#      - name: myfrontend
#        image: nginx
#        volumeMounts:
#        - mountPath: "/var/www/html"
#          name: mypod
#    volumes:
#      - name: mypd
#        persistentVolumeClaim:
#          claimName: pvc-name #####This has to be the same name as the file given here.